<h1>Heldenoverzicht</h1>


<form>

    <label for="beschikbaar">enkel beschikbare helden tonen</label>
      <input type="checkbox"  id="beschikbaar" [(ngModel)]="available" name="available" >
    </form>
  
    <ul *ngFor="let held of heroes">
  
        <li *ngIf="(available == true && held.beschikbaar == true) || available == false" (click)="showinfo(held.name);" > {{ held.id }} {{ held.name }} </li>
  
      </ul> 
  
    <p *ngIf='heroes.length >= 2'>{{ veelhelden }}</p>

    <br><br>

    <p style="color: red"> {{ infohero }} </p>