html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: lightgrey;

}

a {
    margin: 10px;
}

#zoeken {
    padding: 10px;
    margin-bottom: 10px;
}

div#map {
	margin: 5px;
	width: 400px;
	height: 400px;
	border: 1px solid black;
}